:root {
  --background-body: #becde7;
  --background-card: #e3e3e8;
  --text-white: #FFFFFF;
  --text-gray: #c0c0c0;
  --text-orange: #FF9800;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  color: var(--text-white);
  background: var(--background-body);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

h2,
p {
  margin: 0;
  padding: 0;
}